
.hover{
  background-color: black;
}

.box {
  border: 1px solid #000000;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  }
 
  
  body {
    background-color: rgba(0, 0, 0, 0.527);
  }
  
  #container {
    border: 1px solid black;
    margin:auto;
    display: grid;
    
    width: 600px;
    height: 600px;
    background-color: white;
  }
  


  